<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoomerbox">

    <application
        android:name=".ZoomerboxApplication"
        android:allowBackup="true"
        android:icon="@drawable/v2cubeicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/v3cubeicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoomerboxapp">
        <activity
            android:name=".presentation.view.activity.SignInCodeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.view.activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".presentation.view.activity.SignInActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".presentation.view.activity.SignInActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".presentation.view.activity.DefaultActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>